<% if @over_ten %>
 <%= link_to 'Show Previous' , '?m=all' %>
<% end %>

<div class="media">
 <% @messages.each do |message| %>
  <% if message.body %>
  <div class="media-left media-middle">
    <% user = User.find(message.user_id) %>
    <%= link_to (image_tag user.avatar.url, size: "50x50", :class => "media-object"), user_path(user) %>
  </div><!--media-left middle-->
  <div class="media-body">
    <h4 class="media-heading"><strong><%= user.full_name %></strong></h4>
    <p><%= message.body %></p>
  </div><!--media body-->
 <% end %>
<% end %>
</div><!--media-->

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  </div>
  <div>
    <%= f.submit "Send Message", class: "btn btn-primary" %>
  </div>

<% end %>