<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= f.label 'Your professional headline' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>

  <h3>Education</h3>
<div id='schools'>
    <%= f.fields_for :schools do |school| %>
      <%= render 'school_fields', :f => school %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add school', f, :schools %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
