<%= form_for @profile, :html => { multipart: true, :class => "form-horizontal profile" } do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%=f.error_span(:location) %>
  </div>

  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label :avatar  %>
    <%= f.file_field :avatar, accept: 'image/jpeg, image/gif, image/png' %>
    <%=f.error_span(:avatar) %>
  </div>

  <h3>Education</h3>
   <div id='schools row'>
     <%= f.fields_for :schools do |school| %>
       <%= render 'school_fields', :f => school %>
     <% end %>
    <br>
       <button type="button" class="btn btn-info"><%= link_to_add_association 'add school', f, :schools %></button>

   </div>

  <h3>Additional Skills</h3>
   <div id='skills row'>
     <%= f.fields_for :skills do |skill| %>
       <%= render 'skill_fields', :f => skill %>
     <% end %>
    <br>
       <button type="button" class="btn btn-info"><%= link_to_add_association 'add skill', f, :skills %></button>

   </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $('#profile_avatar').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB.")
    }
  });
</script>
