<%= render 'friends/lookup' %>

<% if @friendships.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3" class="page-header">
          <h2>My Connections</h2>
        </th>
      </tr>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.active_friends.each do |active_friend| %>
      <tr>
        <td><%= image_tag active_friend.avatar.url, size: "50x50" %></td>
        <td><%= active_friend.full_name %></td>
        <td><%= active_friend.email %></td>
        <td>
          <%= link_to "View Profile", user_path(friend), class:"btn btn-primary btn-xs" %>
          <%= link_to 'Remove Friend', friendship_path(friend),
  :method => :delete,
  :data => { :confirm => "Are you sure?" },
  :class => "btn btn-xs btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="row col-lg-12">
    <p class="lead">You don't have any Friends yet. Please add some!</p>
  </div><!--row col-->
<% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3" class="page-header">
          <h2>Pending Friendships</h2>
        </th>
      </tr>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.requested_friendships.each do |request| %>
      <tr>
        <td><%= image_tag request.avatar.url, size: "50x50" %></td>
        <td><%= request.full_name %></td>
        <td><%= request.email %></td>
        <td>
          <%#= link_to "View Profile", user_path(user), class:"btn btn-primary btn-xs" %>
          <%= link_to "Accept Friend Request", accept_friend_path(id: request.id), class:"btn btn-primary btn-xs" %>
          <%= link_to 'Deny Friend Request', friendship_path(id: request.id),
                                            :method => :delete,
                                            :data => { :confirm => "Are you sure?" },
                                            :class => "btn btn-xs btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>


